@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

:root {
    --button-primary-color: rgb(182, 131, 118);
    --button-secondary-color: #fff;
    --button-hover-color: rgba(182, 131, 118, 0.801);
    --button-arrow-width: 10px;
    --button-arrow-stroke: 2px;
}

body {
    background-color: rgba(206, 195, 178);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    background-color: rgb(58, 77, 58);
    max-width: 1200px;
    padding: 100px 30px;
    padding-top: 20px;
    text-align: justify;
    margin: auto;
}

h1 {
    font-family: "Sono", monospace;
    color: rgb(219, 179, 162);
    text-align: center;
    padding: 40px 0px;
}

h2 {
    font-family: "Sono", monospace;
    color: rgb(219, 179, 162);
    padding: 20px 80px;
}

h3 {
    font-family: "Sono", monospace;
    color: rgb(219, 179, 162);
    padding: 20px 100px;
}

p {
    color: rgb(208, 219, 192);
    font-size: 16px;
    padding: 0px 80px;
    text-align: justify;
    text-indent: 30px;
}

a {
    color: rgb(206, 167, 150);
    text-decoration: none;
    transition: all 200ms ease-in-out;
    font-weight: 600;
}

body a:hover {color: rgb(189, 149, 132);
}

.exemplo {
    color: rgb(193, 211, 168);
    padding: 0px 130px;
    text-align: left;
}

.code {
    background-color: rgba(193, 211, 168, 0.10);
    font-family: monospace;
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    text-indent: 0px;
}

blockquote {
    color: rgb(167, 184, 143);
    font-size: 14px;
}

ul {
    color: rgb(193, 211, 168);
    padding: 0px 80px;
}

ol {
    color: rgb(193, 211, 168);
    padding: 0px 80px;
}

li {
    padding: 3.5px 0px;
    margin-left: 60px;
}

div img {
    padding: 20px;
}

/* botões */ 
.button-next {
    position: absolute;
    right: 110px; /* Distância da parte direita */
    bottom: 42px;
    border: 0;
    border-radius: 50px;
    color: var(--button-secondary-color);
    padding: 16px 24px;
    background: var(--button-primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    max-width: max-content; /* Impede expansão além do conteúdo */
}

.button-next .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-next .arrow {
    margin-top: 1px;
    width: var(--button-arrow-width);
    background: var(--button-primary-color);
    height: var(--button-arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.button-next .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--button-secondary-color);
    border-width: 0 var(--button-arrow-stroke) var(--button-arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.button-next:hover {
    background-color: var(--button-hover-color);
}

.button-next:hover .arrow {
    background: var(--button-secondary-color);
}

.button-next:hover .arrow::before {
    right: 0; /* Ajusta a seta ao mover */
}

.button-previous {
    position: absolute;
    left: 110px; /* Distância da parte esquerda */
    bottom: 42px; /* Distância da parte inferior */
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    color: var(--button-secondary-color);
    padding: 16px 24px;
    background: var(--button-primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    max-width: max-content; /* Impede expansão além do conteúdo */
}

.button-previous .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-previous .arrow {
    margin-top: 1px;
    width: var(--button-arrow-width);
    background: var(--button-primary-color);
    height: var(--button-arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.button-previous .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--button-secondary-color);
    border-width: 0 var(--button-arrow-stroke) var(--button-arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    left: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(135deg); /* Ajusta a seta para a esquerda */
}

.button-previous:hover {
    background-color: var(--button-hover-color);
}

.button-previous:hover .arrow {
    background: var(--button-secondary-color);
}

.button-previous:hover .arrow::before {
    left: 0px; /* Ajusta a seta ao mover */
}

.button-home {
    position: absolute;
    bottom: 42px; /* Distância da parte inferior */
    left: 50%; /* Centraliza o botão horizontalmente */
    transform: translateX(-50%); /* Ajuste para garantir o centro exato */
    border: 0;
    border-radius: 50px;
    color: var(--button-secondary-color);
    padding: 0.5em 1.5em;
    background: var(--button-primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    max-width: max-content; /* Impede expansão além do conteúdo */
}

.button-home:hover {
    background-color: var(--button-hover-color);
}





       