@charset "UTF-8";

body {background-color: rgb(58, 77, 58); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

h1 {color: rgb(177, 168, 129); text-align: center; padding: 40px 0px;}

h2 {color: rgb(177, 168, 129); padding: 20px 40px;}

h3 {color: rgb(177, 168, 129); padding: 20px 55px;}

p {color: rgb(208, 219, 192); font-size: 18px; padding: 0px 40px;}

pre {color: rgb(168, 168, 145);}

blockquote {color: rgb(168, 168, 145);font-size: 14px;}

       