@charset "UTF-8";

body {background-color: rgb(184, 228, 180); font-family: Arial, Helvetica, sans-serif;}

h1 {text-align: center; color: saddlebrown;}

p {text-align: center;}

iframe {text-align: center;}

a {text-align: center;}